<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1>Lorem</h1>
                    <div class="lead">
                        <h2>Here's Why Pubic Wifi is a <br> Public Health Hazard</h2>
                        <span class="categories heading">FEATURED STORY</span>
                    </div>
                </div>
                <div class="staff-picks">
                    <span class="categories headers staff">STAFF PICKS</span>
                    <div class="media">
                        <div class="media-body">
                          <span class="post-heading">"Cursus Sit Quam Cras Ultricies"</span>
                          <h5 class="mt-0 mb-1">Amet Magna Sit Lorem</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                          </p>
                          <p class="author">JAMES STEWART</p>
                        </div>
                        <img src="https://via.placeholder.com/150" class="ml-3" alt="...">
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <span class="post-heading">"Cursus Sit Quam Cras Ultricies"</span>
                            <h5 class="mt-0 mb-1">Amet Magna Sit Lorem</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <p class="author">JAMES STEWART</p>
                        </div>
                        <img src="https://via.placeholder.com/150" class="ml-3" alt="...">
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <span class="post-heading">"Cursus Sit Quam Cras Ultricies"</span>
                            <h5 class="mt-0 mb-1">Amet Magna Sit Lorem</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <p class="author">JAMES STEWART</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <span class="post-heading">"Cursus Sit Quam Cras Ultricies"</span>
                            <h5 class="mt-0 mb-1">Amet Magna Sit Lorem</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <p class="author">JAMES STEWART</p>
                        </div>
                        <img src="https://via.placeholder.com/150" class="ml-3" alt="...">
                    </div>
                </div>
                <div class="share text-center">
                        <h3>Inspired?</h3>
                        <p>Share your stories and ideas using the best editor online.</p>
                        <button>Start writing</button>
                </div>
                <div class="staff-picks">
                    <div class="media">
                        <div class="media-body">
                            <span class="post-heading">"Cursus Sit Quam Cras Ultricies"</span>
                            <h5 class="mt-0 mb-1">Amet Magna Sit Lorem</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <p class="author">JAMES STEWART</p>
                        </div>
                        <img src="https://via.placeholder.com/150" class="ml-3" alt="...">
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <span class="post-heading">"Cursus Sit Quam Cras Ultricies"</span>
                            <h5 class="mt-0 mb-1">Amet Magna Sit Lorem</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <p class="author">JAMES STEWART</p>
                        </div>
                        <img src="https://via.placeholder.com/150" class="ml-3" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="recommandation">
                    <span class="categories headers reco">MOST RECOMMENDED</span>
                    <ul class="list-unstyled">
                        <li class="media">
                            <span class="mr-3">1</span>
                            <div class="media-body">
                                <p class="mt-0 mb-0">Amet Magna Sit Lorem</p>
                                <span>JAMES STEWART</span>
                            </div>
                        </li>
                        <li class="media">
                            <span class="mr-3">2</span>
                            <div class="media-body">
                                <p class="mt-0 mb-0">Amet Magna Sit Lorem</p>
                                <span>JAMES STEWART</span>
                            </div>
                        </li>
                        <li class="media">
                            <span class="mr-3">3</span>
                            <div class="media-body">
                                <p class="mt-0 mb-0">Amet Magna Sit Lorem</p>
                                <span>JAMES STEWART</span>
                            </div>
                        </li>
                        <li class="media">
                            <span class="mr-3">4</span>
                            <div class="media-body">
                                <p class="mt-0 mb-0">Amet Magna Sit Lorem</p>
                                <span>JAMES STEWART</span>
                            </div>
                        </li>
                        <li class="media">
                            <span class="mr-3">5</span>
                            <div class="media-body">
                                <p class="mt-0 mb-0">Amet Magna Sit Lorem</p>
                                <span>JAMES STEWART</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tech">
                    <span class="categories headers tec">TECH</span>
                    <div class="media">
                        <div class="media-body">
                            <span>"Cursus Sit Quam Cras Ultricies"</span>
                            <h5 class="mt-0 mb-1">Amet Magna Sit Lorem</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <span>JAMES STEWART</span>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Amet Magna Sit Lorem</h6>
                            <span>JAMES STEWART</span>
                        </div>
                        <img src="https://via.placeholder.com/50" class="ml-3" alt="...">
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Amet Magna Sit Lorem</h6>
                            <span>JAMES STEWART</span>
                        </div>
                        <img src="https://via.placeholder.com/50" class="ml-3" alt="...">
                    </div>
                </div>
                <div class="featured-writer">
                    <span class="categories">FEATURED WRITER</span>
                    <h4>Barrack Obama</h4>
                    <p>Short intro about the writer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <button>Follow</button>
                </div>
                <div class="tech">
                    <div class="media">
                        <div class="media-body">
                            <span>"Cursus Sit Quam Cras Ultricies"</span>
                            <h5 class="mt-0 mb-1">Amet Magna Sit Lorem</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...
                            </p>
                            <span>JAMES STEWART</span>
                        </div>
                        <img src="https://via.placeholder.com/64" class="ml-3" alt="...">
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Amet Magna Sit Lorem</h6>
                            <span>JAMES STEWART</span>
                        </div>
                        <img src="https://via.placeholder.com/50" class="ml-3" alt="...">
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Amet Magna Sit Lorem</h6>
                            <span>JAMES STEWART</span>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <span class="categories headers cat">CATEGORY</span>
                    <div class="media">
                        <div class="media-body">
                            <span>"Cursus Sit Quam Cras Ultricies"</span>
                            <h5 class="mt-0 mb-1">Amet Magna Sit Lorem</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <span>JAMES STEWART</span>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Amet Magna Sit Lorem</h6>
                            <span>JAMES STEWART</span>
                        </div>
                        <img src="https://via.placeholder.com/50" class="ml-3" alt="...">
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">Amet Magna Sit Lorem</h6>
                            <span>JAMES STEWART</span>
                        </div>
                        <img src="https://via.placeholder.com/50" class="ml-3" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>